/*
Name: Ryan Maitland
Student #: C0750514
Term Project
*/

/* CSS Reset */
body, header, nav, main, footer, h2, div, img {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

body {
    background-color: #fff;
}

nav {
    width: 100%;
    float: none;
    background-color: #fff;
    border: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 0px 5px #66CCFF;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

main {
    display: block;
    border-radius: 0%;
    text-shadow: 0px 0px 5px #66CCFF;
}

#container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
}

#welcome {
    padding-top: 0.5%;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

footer {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

.logo {
    float: left;
    max-width: 8%;
}

.smile {
    max-width: 20%;
}