/*
Name: Ryan Maitland
Student #: C0750514
Term Project
*/

/* CSS Reset */
body, header, nav, main, footer, h2, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #ffffff;
}

img {
    max-width: 100%;
    display: block;
}
header {
    width: 100%;
    float: left;
}

nav {
    width: 100%;
    float: none;
    margin: 5em 3em 0 0;
    background-color: rgb(206, 206, 206);
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#welcome {
    padding-top: 1%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

#welcome h2 {
    text-align: center;
}

#welcome p {
    text-align: center;
}

#welcome .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
}

footer {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}