/*
Name: Ryan Maitland
Student #: C0750514
Term Project
*/

/* CSS Reset */
body, header, nav, main, footer, h2, div, img, table, tr, th, td {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

body {
    background-color: #fff;
}

nav {
    width: 95%;
    float: none;
    background-color: #fff;
    border: none;
    padding-bottom: 0.5%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    text-shadow: 0px 0px 5px #66CCFF;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    padding-bottom: 0.5%;
}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#banner {
    max-width: 100%;
}

main {
    display: block;
    border-radius: 0%;
    font-family: Verdana, Tahoma, sans-serif;
}

#container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 99%;
}

footer {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.7em;
}

.logo {
    float: left;
    max-width: 8%;
}

.bold {
    font-size: larger;
    font-weight: bold;
}

table {
    width: 80%;
    margin: auto;
}

table , td {
    border-collapse: collapse;
    border: solid 1px black;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: lightsteelblue;
}

td {
    padding: 5px;
}

caption {
    padding-bottom: 20px;
}


#instructor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    gap: 20px;
}

.instructor-pic {
    height: 170px;
    width: 250px;
    border-radius: 50%;
    display: block;
}

figcaption {
    padding-top: 5px;
}